    <main>
      <h1>{{det.name}}</h1>
      <img class="cube" 
      src={{det.imageUrl}}>
      <div class="details">
        <p><span>Description:</span> {{det.description}}</p>
        <p><span>Difficulty level:</span> {{det.difficultyLevel}}</p>
        <a class="btn" href="/">Back</a>
      </div>
    </main>